{
    "presets": ["@vue/cli-plugin-babel/preset"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ]
}
